:root {
  width: 0;
  color: #fffc;
}

.erase {
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
}

main {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  z-index: -1;
  background-color: #339;
}

#joystick-zone {
  flex: 8;
  height: 100%;
}

#buttons-zone {
  display: flex;
  flex: 5;
  height: 100%;
  flex-direction: column;
}

#buttons-zone > button {
  display: block;
  flex: 1;
  width: 100%;
  font-size: 25dvmin;
  opacity: 0.5;
}

#buttons-zone > button:hover {
  opacity: 0.75;
}

.button-a {
  background-color: #f33;
}

.button-b {
  background-color: #3f3;
}

article {
  margin: 0.5em;
  padding: 0.5em;
  max-height: min(24em, calc(100dvh - 240px));
  width: 50dvw;
  overflow: scroll;
  font-size: max(0.75rem, 2dvmin);
  background-color: #5559;
}

article * {
  margin: 0;
}

article a {
  color: #fcc;
}

article h1 {
  margin: 0.2em 0.1em;
}

article h2 {
  margin: 0.1em 0;
}

article input[type="checkbox"] {
  height: 1.5em;
  width: 1.5em;
}

article code {
  padding: 0.25em;
  background: #335;
}
