@import url(sanitize.css);

:root {
  width: 0;
  color: #fffc;
}

.erase {
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
}

/* hamburger */

.hamburger {
  position: absolute;
  padding: 0;
  height: 4rem;
  width: 4rem;
  z-index: 1;
  font-size: 3rem;
  box-shadow: 0 0 0.5em 0.25em #5555;
}

/* article */

article {
  position: relative;
  left: 0;
  padding: 2em;
  height: 100dvh;
  width: clamp(50dvw, 30rem, 100dvw);
  overflow: auto;
  background-color: #5559;
  box-shadow: 0 0 0.5rem 0.25rem #5553;
  transition: left 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

article.hide-left {
  left: clamp(-100dvw, -30rem, -50dvw);
  pointer-events: none;
  cursor: not-allowed;
}

article a {
  color: #fcc;
}

article h1 {
  text-align: center;
}

article h2 {
  border-top: solid 1px;
  padding-top: 1em;
  text-align: center;
}

article h3 {
  padding-left: 0.5em;
  border-left: solid 0.25em;
}

article input[type="checkbox"] {
  height: 1.5em;
  width: 1.5em;
}

article code {
  padding: 0.25em;
  background: #335;
}

article footer {
  position: sticky;
  top: 100dvh;
  border-top: solid 1px;
  padding: 1em;
  text-align: center;
}

/* gamepad */

main {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  z-index: -1;
  background-color: #339;
}

#joystick-zone {
  flex: 8;
  height: 100%;
}

#buttons-zone {
  display: flex;
  flex: 5;
  height: 100%;
  flex-direction: column;
}

#buttons-zone > button {
  display: block;
  flex: 1;
  width: 100%;
  font-size: 25dvmin;
  opacity: 0.5;
}

#buttons-zone > button:hover {
  opacity: 0.75;
}

.button-a {
  background-color: #f33;
  box-shadow: 0 0 0.5rem 0.25rem #f335;
}

.button-b {
  background-color: #3f3;
  box-shadow: 0 0 0.5rem 0.25rem #3f35;
}
